@tailwind base;

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

body {
  @apply font-sans;
}
@tailwind components;

@tailwind utilities;

.balsamiq {
  font-family: 'Balsamiq Sans', Shabnam;
  font-weight: normal;
}
